/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,900;1,200;1,300&display=swap');

/*General body styles*/
body {
    min-height: 100vh;
    font-family: 'Prompt', sans-serif;
    background-color: #ffffff;
}

/* Home Page */

/* Section for rules at home page*/
.rule-holder {
    border: 2px solid #545454;
    box-shadow: 0.5px 2px #737373;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

/* Buttom for "Do the Quiz"*/
#do-quiz {
    border: 2px solid #0CC0DF;
    background-color: #6DEAFF;
    color: #737373;
    font-family: 'Prompt', sans-serif;
    font-size: 2vh;
    font-weight: 500;
}

/* Section for game at quiz page*/
.game-holder {
    border: 2px solid #545454;
    box-shadow: 0.5px 2px #737373;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0CC0DF;
    height: 8vh;
    width: 100%;
}

/* Social Media TEST
#social-media {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding:0 20px;
}
#social-media i {
    color: #545454;
    font-size: 180%;
    padding-right: 40px;
    
} */