/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,900;1,200;1,300&display=swap');

/*General body styles*/
body {
    min-height: 100vh;
    font-family: 'Prompt', sans-serif;
    background-color: #ffffff;
}

li {
    font-size: smaller;
}



/* Home Page */

/* Modal for rules*/
/*Borrowed from https://www.w3schools.com/howto/howto_css_modals.asp*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rbg(0,0,0,0.4);
    text-align: left;
}

.rulesContent {
    background-color: #ccf8ff;
    margin: 15% auto;
    padding: 10px 10px 0 0;
    border: 2px solid #0CC0DF;
    width: 75%;
    
}

#close i {
    float: right;
    color: #0CC0DF;
    

}

/* Section for rules at home page*/
.rule-holder {
    border: 2px solid #545454;
    box-shadow: 0.5px 2px #737373;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

/* Buttons */
button {
    border: 2px solid #0CC0DF;
    background-color: #ccf8ff;
    color: #4d4d4d;
    font-family: 'Prompt', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    margin-top: 10px;
    font-size: 1rem;
    
}


/* Quiz Page*/

/* Timer */
#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 2px solid #0CC0DF;
    color: #4d4d4d;
    background-color: #ccf8ff; 
    margin: auto;
    font-size: 1.2em;
    
}

/* Section for game at quiz page*/
.game-holder {
    border: 2px solid #545454;
    box-shadow: 0.5px 2px #737373;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.quizOptions {
    width: 30vh;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0CC0DF;
    height: 8vh;
    width: 100%;
}



/* Social Media TEST
#social-media {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding:0 20px;
}
#social-media i {
    color: #545454;
    font-size: 180%;
    padding-right: 40px;
    
} */

/* Tablets and larger */
@media screen and (min-width: 768px) {
    section {
        margin: 0 10%;
     }
}

/* Desktop and larger */
@media screen and (min-width: 1200px) {
    section {
        margin: 0 20%;
    }
}
